* {
    margin: 0;
    padding: 0;

    
}

body {
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
    background-color: #52575d;    
}

main{
    transition: opacity 0.5s ease 0.5s;
}

h1 {
    font-family: "Montserrat";
    color: #000000;
    font-size: 4rem;
    text-shadow: 2px 2px #ff4b5c80;
}

h6{

	padding-top: 30px;
	text-align: center;
	font-size: 10px;
	font-family: "Montserrat";
	color: #eaf6f630;
}

.startItems h1{
    position: absolute;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px #000000;
    top: 50px;
}

.startItems p{
    position: absolute;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px #000000;
    top: 200px;
}

.startItems{
    position: absolute;
    left: 100px;
    right: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 20%;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}
.choice1,
.choice2,
.choice3{
    padding:0 5%;
}
.btnChoice{
    padding: 10px 20px;
    border-radius: 30px;
    border-color: transparent;
    background-color: #eaf6f6;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.btnChoice:hover{
    border-color: #ff4b5c;
    color: yellow;
    background-color: transparent;
}


.resultPanelParent {

    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.resultPanel {
    text-align: center;
    padding: 5%;
    width: 80%;
    background-color: #ffffff80;
    border-radius: 30px;
}

.dicePanelParent {
    display: flex;
    justify-content: space-around;
    padding: 1% 15%;
}

.diceOne,
.diceTwo {
    text-align: center;
    padding: 0% 8%;
    background-color: transparent;

}


#dice1,
#dice2 {
    width: 180px;
    height: 180px;
    text-align: center;
    border-radius: 30px;
}

.form {
    text-align: center;
}

.nameForm {
    padding: 12px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 5px solid #ff4b5c;
    color: white;
    font-size: 1rem;
    text-align: center;
}


.nameForm::placeholder {
    font-size: 1rem;
    color: white;
    opacity: 1;
    text-align: center;
    font-family: "Montserrat";
}

.btnForm {
    padding: 12px 50px;
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;
    font-family: "Montserrat";
    cursor: pointer;
}

.parentBtnDiv {
    display: flex;
    justify-content: center;
}

.btnForm:hover {
    background-color: #ff4b5c80;
}

.rstBtnDiv{
    text-align: right;
    padding-right: 5%;
}

#rst{
    padding: 15px 15px;
    border-radius: 30px;
    background-color: #ffffff80;
    outline: none;
    font-family: "Montserrat";
    cursor: pointer;
}

#rst:hover{
    background-color: #ff4b5c80;
}

.ftrDiv{
    padding-top:4%;
}

.fadeOut{
    opacity: 0;
    pointer-events: none;
}

.fadeIn{
    opacity: 1;
    pointer-events: all;
}

.wew{
    display: absolute;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;

}
.scoreBoard{
    padding: 0 25%;
    text-align: center;
    font-family: "Montserrat";
}

.pOneScore{
    color:yellow;
}

.pTwoScore{
    color: cyan;
}

@media only screen and (max-width: 768px){
    
    h1{
        font-size: 2.5rem;
        text-align: center;
    }

    #dice1,
    #dice2 {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 30px;
    }

    .nameForm {
    padding: 6px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    border-bottom: 5px solid #ff4b5c;
    color: white;
    text-align: center;
    }

    .startItems h1{
        font-size: 2rem;
        text-align: center;
    }

    .startItems p{
        font-size: 1.5rem;
    }

    .startItems{
        padding: 0 5%;
        left: 20px;
        right: 20px;
    }
	
     body{
     	overflow: hidden;
    }



}
