* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
    background-color: #52575d;
}

h1 {
    font-family: "Montserrat";
    color: #000000;
    font-size: 4rem;
    text-shadow: 2px 2px #ff4b5c80;
}

h6{

	padding-top: 30px;
	text-align: center;
	font-size: 10px;
	font-family: "Montserrat";
	color: #eaf6f630;
}
.resultPanelParent {

    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.resultPanel {
    text-align: center;
    padding: 5%;
    width: 80%;
    background-color: #ffffff80;
    border-radius: 30px;
}

.dicePanelParent {
    display: flex;
    justify-content: space-around;
    padding: 1% 15%;
}

.diceOne,
.diceTwo {
    text-align: center;
    padding: 0% 8%;
    background-color: transparent;

}


#dice1,
#dice2 {
    width: 180px;
    height: 180px;
    text-align: center;
    border-radius: 30px;
}

.form {
    text-align: center;
}

.nameForm {
    padding: 12px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 5px solid #ff4b5c;
    color: white;
    font-size: 1rem;
    text-align: center;
}


.nameForm::placeholder {
    font-size: 1rem;
    color: white;
    opacity: 1;
    text-align: center;
    font-family: "Montserrat";
}

/*#enterOne,
#enterTwo{
    padding: 12px 50px;
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;
    font-family: "Montserrat";
    cursor: pointer;
}

#enterOne:hover,
#enterTwo:hover{
    background-color: #ff4b5c80;
}
*/

.btnForm {
    padding: 12px 50px;
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;
    font-family: "Montserrat";
    cursor: pointer;
}

.parentBtnDiv {
    display: flex;
    justify-content: center;
}

.btnForm:hover {
    background-color: #ff4b5c80;
}

.rstBtnDiv{
    text-align: right;
    padding-right: 5%;
}

#rst{
    padding: 15px 15px;
    border-radius: 30px;
    background-color: #ffffff80;
    outline: none;
    font-family: "Montserrat";
    cursor: pointer;
}

#rst:hover{
    background-color: #ff4b5c80;
}


@media (max-width: 425px){
    
    h1{
        font-size: 2.5rem;
    }

    #dice1,
    #dice2 {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 30px;
    }

    .nameForm {
    padding: 6px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    border-bottom: 5px solid #ff4b5c;
    color: white;
    text-align: center;
    }

}
